@model IEnumerable<BaseIssue>
@{
    ViewData["Title"] = "Список Инцидентов";
}

<div class="row">
    <p>
        <a asp-area="Admin" asp-controller="BaseIssues" action="Edit" class="btn btn-success">Добавить новый Инцидент</a>
    </p>
</div>


<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>@Html.DisplayNameFor(BaseIssue => BaseIssue.Id)</th>
            <th>@Html.DisplayNameFor(BaseIssue => BaseIssue.IssueTS)</th>
            <th>@Html.DisplayNameFor(BaseIssue => BaseIssue.IssueStatus)</th>
            <th>@Html.DisplayNameFor(BaseIssue => BaseIssue.Category)</th>
            <th>@Html.DisplayNameFor(BaseIssue => BaseIssue.IssueType)</th>
            <th>@Html.DisplayNameFor(BaseIssue => BaseIssue.LongDescr)</th>
            <th>@Html.DisplayNameFor(BaseIssue => BaseIssue.User)</th>
            <th>@Html.DisplayNameFor(BaseIssue => BaseIssue.SolveDescr)</th>
            <th>@Html.DisplayNameFor(BaseIssue => BaseIssue.SolveTS)</th>
            <th>@Html.DisplayNameFor(BaseIssue => BaseIssue.SolveUser)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var baseIssue in Model)
        {
        <tr>
            <td>
                <a asp-area="Admin" asp-controller="BaseIssues" asp-action="Edit" asp-route-id="@baseIssue.Id" title="Редактировать">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
            </td>
            <td>@Html.DisplayFor(m => baseIssue.Id)</td>
            <td>@Html.DisplayFor(m => baseIssue.IssueTS)</td>
            <td>@Html.DisplayFor(m => baseIssue.IssueStatus)</td>
            <td>@Html.DisplayFor(m => baseIssue.Category)</td>
            <td>@Html.DisplayFor(m => baseIssue.IssueType)</td>
            <td>@Html.DisplayFor(m => baseIssue.LongDescr)</td>
            <td>@Html.DisplayFor(m => baseIssue.User)</td>
            <td>@Html.DisplayFor(m => baseIssue.SolveDescr)</td>
            <td>@Html.DisplayFor(m => baseIssue.SolveTS)</td>
            <td>@Html.DisplayFor(m => baseIssue.SolveUser)</td>
            <td>
                <a asp-area="Admin" asp-controller="BaseIssues" asp-action="Delete" asp-route-id="@baseIssue.Id" title="Удалить" class="text-danger">
                    <i class="glyphicon glyphicon-remove"></i>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>