@model IssueViewModel

@{
    ViewData["Title"] = "Issue #" + Model.Id;
}

<h3>@ViewData["Title"]</h3>

<div class="container">
    <h3>Задача №@Model.Id</h3>
    <p>Описание: @Model.LongDescr</p>
    <p>Пользователь: @Model.User</p>
    <p>Дата: @Model.IssueTS</p>
    <p>ТипИнцидента: @Model.IssueType</p>
    <p>Категория: @Model.Category</p>
    <p>Статус: @Model.Status</p>
    <p>Дата Решения: @Model.SolveTS</p>
    <p>Описание Решения: @Model.SolveDescr</p>
    <p>Сотрудник: @Model.SolveUser</p>
</div>
<a asp-controller="Issue" asp-action="Index">Задачи</a>

