@model IEnumerable<Issue>

@{
    //ViewData["Title"] = "Issues";
    ViewBag.Title = "Issues";
}

<div class="container">

    <h3>@ViewData["Title"]</h3>

    <table class="table table-bordered" id="st_issue_table">
        <thead>
            <tr>
                <td>Id</td>
                <td>Issue Time</td>
                <td>Creater</td>
                <td>Category</td>
                <td>Status</td>
                <td>Solve Time</td>
                <td>Solver</td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var issue in Model)
            {
            <tr>
                <td>@issue.Id</td>
                <td>@issue.IssueTS</td>
                <td>@issue.User</td>
                <td>@issue.Category</td>
                <td>@issue.Status</td>
                <td>@issue.SolveTS</td>
                <td>@issue.SolveUser</td>
                <td>
                    <a asp-controller="Issue" asp-action="Details" asp-route-id="@issue.Id">Details</a>
                </td>
                <td>
                    <a asp-controller="Issue" asp-action="Edit" asp-route-id="@issue.Id">Edit</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

    @section Styles{
        <style>
            #st_issue_table {
                background: yellow;
            }
        </style>
    }

    @section Scripts{
        <!--<script>TestScripts</script>-->
    }

