@model IEnumerable<SimpleIssueViewModel>

@{
    ViewData["Title"] = "Список Запросов";
}

    <div class="container">

        <h3>@ViewData["Title"]</h3>

        @if (User.IsInRole(FinDesk.Domain.Identity.Role.Administrator))
        {
            @*<div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a asp-action="Create" class="btn btn-success">Создать</a>
            </div>*@
            @*<a asp-action="Edit" class="btn btn-success">Создать через Edit</a>*@
            
        }

        <table class="table table-bordered" id="st_issue_table">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Дата создания</th>
                    <th>Статус</th>
                    <th>Заявитель</th>
                    <th>Тип Запроса</th>
                    <th>Категория</th>
                    <th>Описание Запроса</th>
                    <th>Детали</th>

                    @if (User.IsInRole(FinDesk.Domain.Identity.Role.Administrator))
                    {
                        <th>Редактировать</th>
                        <th>Удалить</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var issue in Model)
                {
                <tr>
                    <td>@issue.Id</td>
                    <td>@issue.IssueTS</td>
                    <td>@issue.IssueStatus</td>
                    <td>@issue.User</td>
                    <td>@issue.IssueType</td>
                    <td>@issue.Category</td>
                    <td>@issue.LongDescr</td>
                    <td>
                        <a asp-controller="SimpleIssue" asp-action="Details" asp-route-id="@issue.Id">Details</a>
                    </td>
                    @if (User.IsInRole(FinDesk.Domain.Identity.Role.Administrator))
                    {

                        <td>
                            <a asp-controller="SimpleIssue" asp-action="Edit" asp-route-id="@issue.Id">Edit</a>
                        </td>
                        <td>
                            <a asp-controller="SimpleIssue" asp-action="Delete" asp-route-id="@issue.Id" class="text-danger">Delete</a>
                        </td>
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>

@section Styles{
    <style>
        #st_issue_table {
            width: auto;
            background: BlanchedAlmond;
        }
    </style>
}

@section Scripts{
    <!--<script>TestScripts</script>-->
}