@model FinDesk2.Models.Issue

    <div class="container">
        <h3>Задача №@Model.Id</h3>
        <p>Описание: @Model.LongDescr</p>
        <p>Пользователь: @Model.User</p>
        <p>Дата: @Model.IssueTS</p>
        <p>Категория: @Model.Category</p>
        <p>Статус: @Model.Status</p>
    </div>
    <a asp-controller="Home" asp-action="Issues">Задачи</a>
