@model IEnumerable<FinDesk2.Models.Issue>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Issues</title>
</head>
<body>

    <table>
        @foreach(var issue in Model)
        {
        <tr>
            <td>@issue.Id</td>
            <td>@issue.User</td>
            <td>@issue.IssueTS</td>
            <td>@issue.Category</td>
            <td>@issue.Status</td>
            <td>
                <a href="~/Home/Issue/@issue.Id">Details</a>
            </td>

        </tr>
        }
    </table>
</body>

</html>