@model IEnumerable<Issue>

    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>IssueTime</th>
                    <th>CreateUser</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var issue in Model)
                {
                    <tr>
                        <td>@issue.Id</td>
                        <td>@issue.IssueTS</td>
                        <td>@issue.User</td>
                        <td>@issue.Category</td>
                        <td>@issue.Status</td>
                        <td>
                            <a asp-controller="Issue" asp-action="Details" asp-route-id="@issue.Id">Details</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>